<% include partials/header %>

<!-- MAIN HOME PAGE WHEN USER LOGINS IN -->

<style>
.jumbotron {
  background: url('images/ferrariF40.jpg') no-repeat center;
  position: relative;
  width: 100%;
  height: 500px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
  text-shadow: 1px 1px 1px #000;
  color: #6E6E6E;
  }
</style>

<% posts.forEach(function (post){ %>
  <% if(post.UserId === user.id){ %>
    <script type="text/javascript">
          $(document).ready(function() {
           $(".fancybox").click(function(e) {
            e.preventDefault();
              $.fancybox.open("<img src=<%= post.placeholder %>>");
            });
            console.log("It is alive!!!");
          });
    </script>
  <% } %>
<% }) %>

<!-- END of script / style -->


<!-- HOME -->

<div class="jumbotron text-left">
  <h1>Welcome to CarHaus</h1>
  <h3>A community for car enthusiasts</h3>

</div>
<hr style="height:5px;border:none;color:#333;background-color:#333;" />
<h3 style="text-center">Latest Posts</h3>

<% posts.forEach(function (post){ %>
  <div style = "float:left; margin:30px; padding:10px; border-width:1px; border-style:solid;">
    <a class="fancybox" rel="group" href="<%= post.placeholder %>">
    <img src="<%= post.placeholder %>" style ="width:200px; height:auto;"></a>
    <div class="caption text-center">
      <h3> <%= post.title %> </h3>
      <p> <%= post.body %> </p>
      <p>
        <!-- link to user's profile -->
      <a href="/profile/<%=post.User.id%>">Created by <%= post.User.username %></a>
      </p>
      <p>
      <!-- likes counter -->
      Number of likes: <%= post.Likes.length %>
      <form style="display:inline-block;" action="/liked" method = "POST">
        <input type="hidden" name="UserId" value="<%= user.id%>">
        <input type="hidden" name="PostId" value="<%= post.id%>">
        <input type="submit" class = "btn btn-warning" value="Like it!">
        <!-- logic for displaying edit button for logged in user -->
        <% if(post.UserId === user.id){ %>
        <a href="/posts/<%=post.id%>/edit" class="btn btn-primary" role="button">edit</a>
        <% } %>
      </form>
    </div>
  </div>
<% }) %>

<% include partials/footer %>