<% include partials/header %>

<!-- possible hacky solution to fancy box -->
<!-- need to have script within for loop to so the ejs syntax will work within fancybox script -->
<% posts.forEach(function (post){ %>
  <% if(post.UserId === user.id){ %>
    <script type="text/javascript">
          $(document).ready(function() {
           $(".fancybox").click(function(e) {
            e.preventDefault();
              $.fancybox.open("<img src=<%= post.placeholder %>>");
            });
            console.log("It is alive!!!");
          });
    </script>
  <% } %>
<% }) %>


<!-- USER PROFILE PAGE -->

<h2>A little info about <%= user.username %></h2>
<% if(currentUser.id === user.id){ %>
<small><a href="/profile/<%=user.id%>/edit">edit profile</a></small>
<% } %>
  <p>
    <br>
    Name: <%= user.username%>
    <br>
    Location: <%= user.location%>
  </p>


<h3><%= user.username%>'s Garage</h3>


<!-- for loop to determine which user and diesplay all associated images -->
<% posts.forEach(function (post){ %>
  <% if(post.UserId === user.id){ %>
    <div style = "float:left; margin:30px; padding:10px; border-width:1px; border-style:solid;">
      <a class="fancybox" rel="group" href="<%= post.placeholder %>">
      <img src="<%= post.placeholder %>" style ="width:200px; height:auto;"></a>
        <div class="caption text-center">
            <h3> <%= post.title %> </h3>
            <p> <%= post.body %> </p>
            <p>
              Number of likes: <%= post.Likes.length %>
            </p>
            <form style="display:inline-block;" action="/liked" method = "POST">
              <input type="hidden" name="UserId" value="<%= user.id%>">
              <input type="hidden" name="PostId" value="<%= post.id%>">
              <input type="submit" class = "btn btn-warning" value="Like it!">

              <!-- logic to control edit / delete functionality -->
              <% if(currentUser.id === user.id){ %>
              <a href="/posts/<%=post.id%>/edit" class="btn btn-primary" role="button">edit</a>
              <% } %>
            </form>
          </div>
    </div>
  <% } %>
<% }) %>

<% include partials/footer %>